.search-input {
  margin-bottom: 14px;
}

.textFilter-input {
  font-family: 'FontAwesome', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  line-height: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  height: 100px;
}
.container {
margin-left: 0px;
}

p.instruction {
  margin-top: 20px;
  margin-left: 25px;
}