input[type="range"] {
  width: 100%;
  height: 60px;
}

div.leveled-slider {
  width: 100%;
  padding: 0 50px;
}

div.levels {
  height: 1.1em;
  text-align: justify;
}

div.levels .level {
  width: 120px;
  height: 25px;
  display: inline-block;
  text-align: center;
}
/*
div.levels .level:first-child {
  text-align: left;
}

div.levels .level:last-child {
  text-align: right;
}
*/
div.levels:after {
  content: '';
  width: 100%;
  display: inline-block;
}
