{% extends "sns/page_base.html" %}


{% load static %}

{% block content %}
  <!-- MIDDLE-CONTAINER -->
  <div class="middle-container container">
    <div class="tweets block">
      <!-- SOCIAL MEDIA FEED -->
      <h1 class="titular"><span class="icon"></span>Latest Posts</h1>
      {% for comment in comments %}
      <div class="tweet">
        <div class="profile">
          <img class="profile-picture" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png">
        </div>
        <div class="tweet-body">
          <div class="metadata">
            <a class="" href="">
              {{ comment.author_name }}
              <span class="handle">@{{ comment.author }}</span>
              <span class="time-ago scnd-font-color">{{ comment.pub_date }}</span>
            </a>
          </div>
          <div class="content">
            <p>
              {{comment.text}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
