{% extends "sns/page_base_minimal.html" %}


{% load static %}

{% block scripts %}

<link rel="stylesheet" href="{% static 'sns/feed.css' %}">
{% endblock scripts %}

{% block content %}


  <!-- MIDDLE-CONTAINER -->
  <div class="middle-container container">
    <div class="tweets block">
      <!-- SOCIAL MEDIA FEED -->
      <h1 class="titular"><span class="icon"></span>Latest Posts</h1>
<!--       <div class="tweet first">
        <p>#Packers QB Aaron Rodgers has indicated to people close to him that he does plan to play for GB this season, sources say. That is the expectation. Many factors at play, but with GM Brian Gutekunst saying he is “hopeful” for a positive outcome, there is a glimmer of optimism. <a class="time-ago scnd-font-color" href="#18">3 minutes ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>

          <p> <a class="profile-tweet-link" href="#17">@eq0h4lu </a></p>
        </a>

      </div> -->

      {% for comment in comments %}
      <div class="tweet first">
        <p> 
          {{comment.text}}  <a class="time-ago scnd-font-color" href="#18">10 minutes ago</a>
        </p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>

          <p> <a class="profile-tweet-link" href="#17">@{{ comment.author }} </a></p>
        </a>        
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock content %}

