{% extends "sns/page_base_minimal.html" %}


{% load static %}

{% block scripts %}

<link rel="stylesheet" href="{% static 'sns/feed.css' %}">
{% endblock scripts %}

{% block content %}


  <!-- MIDDLE-CONTAINER -->
  <div class="middle-container container">
    <div class="tweets block">
      <!-- SOCIAL MEDIA FEED -->
      <h1 class="titular"><span class="icon"></span>Latest Posts</h1>
      <div class="tweet first">
        <p>#Packers QB Aaron Rodgers has indicated to people close to him that he does plan to play for GB this season, sources say. That is the expectation. Many factors at play, but with GM Brian Gutekunst saying he is “hopeful” for a positive outcome, there is a glimmer of optimism. <a class="time-ago scnd-font-color" href="#18">3 minutes ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>

          <p> <a class="profile-tweet-link" href="#17">@eq0h4lu </a></p>
        </a>

      </div>
      <div class="tweet second">
        <p>Vegans be like I'm gonna buy some chîck'un, chēze, and mÿlk  <a class="time-ago scnd-font-color" href="#18">10 minutes ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@ehtlsvg </a>
       </p>
      </div>
      <div class="tweet third">
        <p>Hallelujah! It is fucking precious! CEOs use the f word a lot WATER IS WORTH MORE THAN FUCKING GOLD. Kids are begging for it in the redeveloping countries But no let's give it to the marketeers of our govt. Pathetic <a class="time-ago scnd-font-color" href="#18">23 minutes ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@erp98qw
</a>
       </p>
      </div>
      <div class="tweet fourth">
        <p>After the era of malls ends eventually someone will say what if we shopped online, but in real life? And then malls will be reinvented <a class="time-ago scnd-font-color" href="#18">33 minutes ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@dwq2tyu
</a>
       </p>
      </div>
      <div class="tweet fifth">
        <p>One of my co-workers just irritated tf outta me. Idk if I should slap this old geezer or just drink some coffee and go about my day <a class="time-ago scnd-font-color" href="#18">55 minutes ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@dwq68d3
</a>
       </p>
      </div>
      <div class="tweet sixth">
        <p>My daughter made $110 on her lemonade stand today, in like an hour. Turned out people were handing her $5s and $10s and she was just assertively saying thank you for the tip, and not offering change <a class="time-ago scnd-font-color" href="#18">1 hour ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@ekrbbab
</a>
       </p>
      </div>
      <div class="tweet seventh">
        <p>MySpace was probably the best social media time period ever. No ads, no influencers, clout chasing, just vibes, creativity & coding. <a class="time-ago scnd-font-color" href="#18">7 hours ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@jcy</a>
       </p>
      </div>
      <div class="tweet eighth">
        <p>FUCK THE POLICE TIL THEY DEAD <a class="time-ago scnd-font-color" href="#18">12 hours ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@edh6k0k
</a>
       </p>
      </div>
      <div class="tweet ninth">
        <p>I want to spank the sexy ass of poon <a class="time-ago scnd-font-color" href="#18">3 days ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@dwnpj1n
</a>
       </p>
      </div>
      <div class="tweet tenth">
        <p>John Major is a 'has been' for a reason. A pathetic little man 🤨 <a class="time-ago scnd-font-color" href="#18">5 days ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@dwmytmn
</a>
       </p>
      </div>
      <div class="tweet">
        <p>J. Lo and Ben Affleck have gotten together, broken up, had children with other people, got back together, and are now kissing and I have been single through it all <a class="time-ago scnd-font-color" href="#18">1 week ago</a></p>
        <a class="post-picture post-profile-picture"><span>
            <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png"> </span>
        <p>
        <a class="profile-tweet-link" href="#17">@dwn87g1
</a>
       </p>
      </div>
    </div>
  </div>
{% endblock content %}

