{% extends "sns/page_base_minimal.html" %}


{% load static %}

{% block scripts %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'sns/feed.css' %}">
<link rel="stylesheet" href="{% static 'sns/slider.css' %}">
{% endblock scripts %}

{% block content %}

<!-- MIDDLE-CONTAINER -->
<div class="middle-container container">
  <div class="togglediv block">
    <h1 class="titular"><span class="icon"></span>Choose Your Moderation Setting</h1>
    <div class="togglequestion">
      <h2>  Filter out inappropriate posts based on the level you select:  </h2>
      <form action="" method="post" id="slider-form">
        {% csrf_token %}
        <formgroup>
          {{ form.slider_level.errors }}

          {{ form.slider_level }}
        </formgroup>
        <input type="submit" class="btn btn-primary save-button" value="Save" />
      </form>
      <div class="result"><span id="result"></span></div>
      <p class="instruction">  Comments closely matching these words will be filtered out of your feed.  </p>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#slider-form').submit(function(e){
    console.log("came here");
    $.post("{% url 'sns:int_slider' %}",
      $(this).serialize(),
      function(data){
        var self = document.getElementById("result");
        self.innerText = data.message;
        setTimeout(function() {
            self.innerText = '';
        }, 2000);
      });
     e.preventDefault();
   });
});
</script> -->


{% endblock content %}
