<!doctype html>
{% load static %}
<html lang="en">
<head>
  <title> Your Social Network Site</title>

  <!-- internal libraries -->
  {% block scripts %}
  {% endblock scripts %}
  <link rel="stylesheet" href="{% static 'sns/base.css' %}">
</head>
<body>
  <div class="main-container">
    <!-- HEADER -->
    <header class="block">
      <ul class="header-menu horizontal-list">
        <li>
           <a class="header-menu-tab" href="{% url 'sns:feed' %}/?mode={% mode %}"><span class="icon fontawesome-user scnd-font-color"></span>Feed</a>
        </li>
         <li>
          <a class="header-menu-tab" href="{% url 'sns:settings' %}"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
        </li>
         <li>
          <a class="header-menu-tab" href="{% url 'sns:interface' %}"><span class="icon fontawesome-cogs scnd-font-color"></span>Interface</a>
        </li>
      </ul>
      <div class="profile-menu">
        <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
        <div class="profile-picture small-profile-picture">
          <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png">
        </div>
      </div>
    </header>

    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
