{% extends "sns/page_base.html" %}
{% load static %}

{% block scripts %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'widgets/slider.css' %}">
  <script src="{% static 'widgets/slider.js' %}"></script>
{% endblock scripts %}

{% block content %}
<!-- MIDDLE-CONTAINER -->
<div class="middle-container container">
  <div class="togglediv block">
    <h1 class="titular"><span class="icon"></span>Choose Your Moderation Setting</h1>
    <div class="togglequestion">
      <h2>  Filter out inappropriate posts based on the level you select:  </h2>
      <form action="" method="post" id="slider-form">
        {% csrf_token %}
        <formgroup>
          <div class="levels">
            <div class="level">No Moderation</div>
            <div class="level">A Little Moderation</div>
            <div class="level">Some Moderation</div>
            <div class="level">More Moderation</div>
            <div class="level">A Lot of Moderation</div>
          </div>
          <div class="leveled-slider">
            {{ form.slider_level }}
          </div>
          {% if with_examples %}
          <div class="level-explanation" id="slider-explanation">
            This will be filled once the slider is set.
            You should not see this message.
          </div>
          <div class="level-examples" id="slider-examples">
            <div class="item">Test</div>
            <div class="item">Test</div>
          </div>
          {% endif %}
        </formgroup>
        <input type="submit" class="btn btn-primary save-button" value="Save" />
      </form>
      {% if show_alert %}
        <div class="result"><span id="result">Your changes have been saved!</span></div>
      {% endif %}



    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#slider-form').submit(function(e){
    $.post("{% url post_url_string %}",
      $(this).serialize(),
      function(data){
        var self = document.getElementById("result");
        self.innerText = data.message;
        setTimeout(function() {
            self.innerText = '';
        }, 2000);
      });

   });
});
</script>
{% endblock content %}
