{% extends "sns/page_base_minimal.html" %}


{% load static %}

{% block scripts %}
<link rel="stylesheet" href="{% static 'sns/slider.css' %}">
<script type="text/javascript" src="{% static 'sns/slider.js' %}"></script>
{% endblock scripts %}

{% block content %}

<!-- HEADER -->
        <header class="block">
          <ul class="header-menu horizontal-list">
            <li>
               <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Feed</a>
            </li>
            <li>
            <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
             
            </li>
          </ul>
          <div class="profile-menu">
            <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
            <div class="profile-picture small-profile-picture">
              <img width="40px" alt="Profile Picture" src="http://www.clker.com/cliparts/f/a/0/c/1434020125875430376profile-hi.png">
            </div>
          </div>
        </header>


<br>
<div class="header-container">
<h3>
  <b>
    This tool uses machine learning to filter out potentially toxic content based on the level you select.
  </b>
</h3>
</div>

<p>
  <br>
  <br>

</p>
<h4>
  <p><i>
      Keep comments that are at most . . .
    </i>

  </p>
</h4>
<div class="section-1">
  <p>A Little Moderation <span class="first"></span></p>
</div>
<div class="section-2">
  <p> <span class="first"></span></p>
</div>
<div class="section-3">
  <p> <span class="first"></span></p>
</div>
<div class="section-4">
  <p> <span class="first"></span></p>
</div>
<div class="section-5">
  <p>A Lot of Moderation <span class="first"></span></p>
</div>
<div id="slider"></div>
<p id="message"></p>



{% endblock content %}

