{% extends "sns/page_base_minimal.html" %}


{% load static %}

{% block scripts %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'sns/feed.css' %}">
{% endblock scripts %}

{% block content %}

<!-- MIDDLE-CONTAINER -->
<div class="middle-container container">
  <div class="togglediv block">
    <h1 class="titular"><span class="icon"></span>Choose Your Moderation Setting</h1>
    <div class="togglequestion">

      <h2>  Your setting for toxic content:  </h2>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" {% if toggleSetting.filter_toxic %} checked {% endif %} />
        <label class="form-check-label" style="color:white" for="flexSwitchCheckChecked">Filter out/censor all or no messages with toxic content</label>
      </div>

        <div class="result"><span id="result"></span></div>
    </div>

  </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here-->
<script type="text/javascript">
$(document).ready(function() {
  $('#flexSwitchCheckChecked').change(function() {
      $.post("{% url 'toggle' %}", {
          filter_toxic: this.checked, 
          csrfmiddlewaretoken: '{{ csrf_token }}'           
        },
        function(data){
          console.log(data.message);
          document.getElementById("result").innerText = data.message;
        }
      );
  });
}); 
</script>

{% endblock content %}